#editedNameField {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.sectionHeader {
	-fx-font-family: "Lucida Console", Monaco, monospace;
	-fx-font-size: 20px;
	-fx-word-spacing: 2px;
	-fx-font-weight: bold;
	-fx-font-variant: small-caps;
}

.genreButton {
	/* -fx-text-fill: #006464; 
    -fx-background-color: #DFB951;*/
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 4px 5px;
}

#loadingLabel {
	-fx-font-style: italic;
}

/* 
.popup {
	-fx-background-color: #5C5C5C;
}
*/
.popup {
	-fx-background-color: #FFFFFF;
	-fx-border-color: black;
}

.debug {
	-fx-background-color: #4447B2;
	-fx-border-color: black;
	-fx-border-width:2;
}

.movieTitle {
	-fx-font-family: Verdana, Geneva, sans-serif;
	-fx-font-size: 25px;
	-fx-color: #000000;
	-fx-letter-spacing: -2px;
	-fx-font-weight: 400;
	-fx-font-variant: small-caps;
}

.releaseDate {
	-fx-font-family: Verdana, Geneva, sans-serif;
	-fx-font-size: 14px;
	-fx-letter-spacing: -1px;
	-fx-color: #000000;
	-fx-font-weight: 400;
	-fx-font-style: italic;
}