#editedNameField {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.sectionHeader {
	-fx-font-family: "Lucida Console", Monaco, monospace;
	-fx-font-size: 20px;
	-fx-word-spacing: 2px;
	-fx-font-weight: 700;
	-fx-font-variant: small-caps;
}